# shellcheck shell=bash

export DEVSHELL_NO_MOTD=1
export NIXAGO_LOG=0

files=(
  "flake/nixpkgs.nix"
  "flake/pre-commit.nix"
  "flake/treefmt.nix"
)
mapfile -d '' -t -O "${#files[@]}" files < <(find devshell -type f -print0)
mapfile -d '' -t -O "${#files[@]}" files < <(find nixago -type f -print0)

watch_file "${files[@]}"

use flake
