unset shellHook
nix_saved_PATH="$PATH"
nix_saved_XDG_DATA_DIRS="$XDG_DATA_DIRS"
BASH='/noshell'
COMP_WORDBREAKS=' 	
"'\''@><=;|&(:'
EPOCHREALTIME='1662356948.603840'
EPOCHSECONDS='1662356948'
HOSTTYPE='x86_64'
IFS=' 	
'
IN_NIX_SHELL='impure'
export IN_NIX_SHELL
LINENO='73'
MACHTYPE='x86_64-pc-linux-gnu'
NIX_BUILD_CORES='0'
export NIX_BUILD_CORES
NIX_STORE='/nix/store'
export NIX_STORE
OLDPWD=''
export OLDPWD
OPTERR='1'
OSTYPE='linux-gnu'
PATH='/path-not-set'
export PATH
PS4='+ '
SHELL='/noshell'
builder='/nix/store/wl8dpy2rakrav54xzri1ndz50rgmcxaf-bash-interactive-5.1-p16/bin/bash'
export builder
dontAddDisableDepTrack='1'
export dontAddDisableDepTrack
name='nixos'
export name
out='/home/tippy/Source/flakes/outputs/out'
export out
outputs='out'
shellHook='# Remove all the unnecessary noise that is set by the build env
unset NIX_BUILD_TOP NIX_BUILD_CORES NIX_STORE
unset TEMP TEMPDIR TMP TMPDIR
unset builder name out shellHook stdenv system
# Flakes stuff
unset dontAddDisableDepTrack outputs

# For `nix develop`
if [[ "$SHELL" == "/noshell" ]]; then
  export SHELL=/nix/store/wl8dpy2rakrav54xzri1ndz50rgmcxaf-bash-interactive-5.1-p16/bin/bash
fi

# Load the environment
source "/nix/store/7987594ffwh4xpqqdn54rw2vh6s7xz5d-devshell-dir/env.bash"
'
export shellHook
stdenv='/nix/store/vjn75fvzpay2jw3gdpqf1nn1r54wsqw5-naked-stdenv'
export stdenv
system='x86_64-linux'
export system
runHook ()
{
 
    eval "$shellHook";
    unset runHook
}
PATH="$PATH:$nix_saved_PATH"
XDG_DATA_DIRS="$XDG_DATA_DIRS:$nix_saved_XDG_DATA_DIRS"
export NIX_BUILD_TOP="$(mktemp -d -t nix-shell.XXXXXX)"
export TMP="$NIX_BUILD_TOP"
export TMPDIR="$NIX_BUILD_TOP"
export TEMP="$NIX_BUILD_TOP"
export TEMPDIR="$NIX_BUILD_TOP"
eval "$shellHook"
